<h1>Listing rsses</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rsses.each do |rss| %>
  <tr>
    <td><%= rss.url %></td>
    <td><%= rss.name %></td>
    <td><%= link_to 'Show', rss %></td>
    <td><%= link_to 'Edit', edit_rss_path(rss) %></td>
    <td><%= link_to 'Destroy', rss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rss', new_rss_path %>
